<div id="contact" class="section pb-0">
    <div class="container">
      <div class="row g-4 g-xl-5">
        <div class="col-12 col-xl-4">
          <span class="title-heading text-white-04">Contact</span>
          <h1 class="display-3 fw-medium mb-0">Let's <span class="text-gradient">Talk</span></h1>
          <p>
            Join us in revolutionizing how energy companies innovate for a sustainable future.
            Together, we can transform challenges into opportunities and create lasting positive
            impact for our planet.
          </p>
        </div>
        <div class="col-12 col-xl-8">
          <!-- Contact Form -->
          <div class="contact-form mt-4 mt-lg-5 text-xl-end">
            <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
              <div class="row gx-3 gy-0">
                <div class="col-12 col-md-6">
                  <input
                    type="text"
                    name="name"
                    placeholder="Name"
                    required
                    ngModel
                  />
                </div>
                <div class="col-12 col-md-6">
                  <input
                    type="email"
                    name="email"
                    placeholder="E-Mail"
                    required
                    ngModel
                  />
                </div>
              </div>
              <input
                type="text"
                name="subject"
                placeholder="Subject"
                required
                ngModel
              />
              <textarea
                name="message"
                placeholder="Message"
                required
                ngModel
              ></textarea>
              <button class="button button-dot" type="submit" [disabled]="!contactForm.valid">
                <span data-text="Send Message">Send Message</span>
              </button>
            </form>
            <!-- Submit result -->
            <div class="submit-result">
              <span *ngIf="success" id="success">Thank you! Your Message has been sent.</span>
              <span *ngIf="error" id="error">Something went wrong, Please try again!</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  