<div id="portfolio" class="section-box">
    <div class="section-sm bg-dark border-radius-1">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 text-center">
            <h1 class="display-3 fw-medium text-white">
              Innovation <span class="text-gradient">Tools</span>
            </h1>
            <p class="text-white">
              The platform's ability to rapidly assess the state-of-the-art and generate viable concepts translates to
              faster development and deployment of innovative products and services.
            </p>
            <!-- Slider Nav -->

            <!-- end Slider Nav -->
          </div>
        </div>
        <!-- Carousel -->
        <div id="portfolioCarousel" class="carousel slide mt-4" data-bs-ride="carousel">
          <div class="carousel-inner">
            <!-- Slide 1 -->
            <div class="carousel-item active">
              <div class="portfolio-box text-center text-white">
                <h2>
                  <a class="portfolio-caption text-white" href="">
                    <i class="bi bi-arrow-right"></i> Systematic exploration of innovative solutions
                  </a>
                </h2>
              </div>
            </div>
            <!-- Slide 2 -->
            <div class="carousel-item">
              <div class="portfolio-box text-center text-white">
                <h2>
                  <a class="portfolio-caption text-white" href="#">
                    <i class="bi bi-arrow-right"></i> Rapid prototyping and validation capabilities
                  </a>
                </h2>
              </div>
            </div>
            <!-- Slide 3 -->
            <div class="carousel-item">
              <div class="portfolio-box text-center text-white">
                <h2>
                  <a class="portfolio-caption text-white" href="#">
                    <i class="bi bi-arrow-right"></i> Integration of problem-solving tools
                  </a>
                </h2>
              </div>
            </div>
          </div>
        </div>
        <!-- end carousel -->
      </div>
    </div>
  </div>
  