.full-page-section{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: white;
}

/* Define the keyframes for sliding in from the right */
@keyframes slideInFromRight {
    0% {
      opacity: 0;
      transform: translateX(100px); /* Start off-screen to the right */
    }
    100% {
      opacity: 1;
      transform: translateX(0); /* End at the original position */
    }
  }
  
  /* Hidden state */
  .section-hidden {
    opacity: 0;
    transform: translateX(100px); /* Off-screen to the right */
  }
  
  /* Visible state with animation */
  .section-visible {
    animation: slideInFromRight 1s ease-out forwards; /* Apply the keyframes */
  }
  
  .nuclear-bg {
    position: relative; /* Ensure positioning for overlay */
    background: url('/assets/images/bg2.png') no-repeat center center; /* Add the image */
    background-size: cover; /* Make the image cover the entire section */
    color: white; /* Ensure text is visible over the background */
  }
  
  .nuclear-bg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* Black overlay with transparency */
    z-index: 1; /* Ensure the overlay sits above the background but behind the content */
  }
  
  .nuclear-bg .container {
    position: relative;
    z-index: 2; /* Ensure the content is above the overlay */
  }
  
  .special-text{
    font-family: "Rubik 80s Fade", serif;
  font-weight: 400;
  font-style: normal;
  }


.nuclear-bg-3 {
    position: relative; /* Ensure positioning for overlay */
    background: url('/assets/images/bg4.png') no-repeat center center; /* Add the image */
    background-size: cover; /* Make the image cover the entire section */
    color: white; /* Ensure text is visible over the background */
}

.nuclear-bg-3::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Black overlay with transparency */
    z-index: 1; /* Ensure the overlay sits above the background but behind the content */
}

.nuclear-bg-4{
    position: relative; /* Ensure positioning for overlay */
    background: url('/assets/images/reactor.png') no-repeat center center; /* Add the image */
    background-size: cover; /* Make the image cover the entire section */
    color: white; /* Ensure text is visible over the background */
}

.nuclear-bg-4::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // background-color: rgba(0, 0, 0, 0.7); /* Black overlay with transparency */
    // z-index: 1; /* Ensure the overlay sits above the background but behind the content */
}

.nuclear-bg-3 .container {
    position: relative;
    z-index: 2; /* Ensure the content is above the overlay */
}

.gray-bg{
    background-color: #0a0909;
    color: white;
    padding: 90px;
    border-radius: 20px;
}

.hero-heading-secondary{
    font-family: "Prosto One", serif;
    font-weight: 900;
    font-style: normal;
    color: #fff;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-size: 2.5rem;
}

.logo-font{
    font-family: "Prosto One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
}


.purple-bg {
    position: relative; /* Ensure positioning for overlay */
    background: url('/assets/images/purple.png') no-repeat center center; /* Add the image */
    background-size: cover; /* Make the image cover the entire section */
    color: white; /* Ensure text is visible over the background */
}

.purple-bg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // background-color: rgba(0, 0, 0, 0.7); /* Black overlay with transparency */
    z-index: 1; /* Ensure the overlay sits above the background but behind the content */
}

.purple-bg .container {
    position: relative;
    z-index: 2; /* Ensure the content is above the overlay */
}