<div data-preloader="true">

  <!-- Cursor -->
  <div id="cursor"></div>
  <!-- end Cursor -->

  <!-- Header -->
  <div class="header">
    <div class="container-fluid">
      <div class="header-wrapper">
        <!-- Header Logo -->
        <div class="header-logo">
          <h2>Luminah AI</h2>
        </div>
        <!-- Header Nav -->
        <div class="header-nav">
          <a class="button button-sm button-dot me-2 me-lg-3" href="#contact">
            <span data-text="Let's Talk">Let's Talk</span>
          </a>
        </div><!-- end header-nav -->
      </div><!-- end header-wrapper -->
    </div><!-- end container -->
  </div>
  <!-- end Header -->

  <main data-bs-spy="scroll" data-bs-target=".nav-box">

    <!-- Hero section -->
    <div id="about" class="hero-section full-page-section">
      <div class="container text-center">
        <div class="row">
          <div class="col-12">
            <h1 class="hero-heading display-1 fw-bold mb-0 stroke-text">Accelerating Energy Innovation</h1>
            <br>
            <h2>Through AI-Powered Knowledge Systems</h2>
          </div>
        </div><!-- end row -->
      </div><!-- end container -->
    </div>
    <!-- end Hero section -->
    <app-about-us></app-about-us>

    <div id="about" class="hero-section full-page-section">
      <div class="container text-center">
        <div class="row">
          <div class="col-12">
            <h1 class="hero-heading display-1 fw-bold mb-0 ">Our
              Proprietary
              Technology</h1>
            <br>
            <h2>At the heart of LUMINA's success lies
              our innovative, proprietary technologies
              that give us a strategic advantage and are
              the keys to unlocking transformative
              solutions</h2>
          </div>
        </div><!-- end row -->
      </div><!-- end container -->
    </div>
    <!-- Services section -->
   <app-services></app-services>
    <!-- end Services section -->

    <!-- Clients section -->
    <div class="section pt-0">
      <div class="container">
        <div class="swiper clients-slider">
          <div class="swiper-wrapper">
            <!-- Slider Item 1 -->
            <div class="swiper-slide">
              <div class="client-box">
                <a href="#">
                  <img src="assets/images/client-logo.jpg" alt="">
                </a>
              </div>
            </div>
            <!-- Slider Item 2 -->
            <div class="swiper-slide">
              <div class="client-box">
                <a href="#">
                  <img src="assets/images/client-logo.jpg" alt="">
                </a>
              </div>
            </div>
            <!-- Slider Item 3 -->
            <div class="swiper-slide">
              <div class="client-box">
                <a href="#">
                  <img src="assets/images/client-logo.jpg" alt="">
                </a>
              </div>
            </div>
            <!-- Slider Item 4 -->
            <div class="swiper-slide">
              <div class="client-box">
                <a href="#">
                  <img src="assets/images/client-logo.jpg" alt="">
                </a>
              </div>
            </div>
            <!-- Slider Item 5 -->
            <div class="swiper-slide">
              <div class="client-box">
                <a href="#">
                  <img src="assets/images/client-logo.jpg" alt="">
                </a>
              </div>
            </div>
            <!-- Slider Item 6 -->
            <div class="swiper-slide">
              <div class="client-box">
                <a href="#">
                  <img src="assets/images/client-logo.jpg" alt="">
                </a>
              </div>
            </div>
            <!-- end Slider Item 6 -->
          </div><!-- end swiper-wrapper -->
        </div><!-- end clients-slider -->
      </div><!-- end container -->
    </div>
    <!-- end Clients section -->

    <!-- Portfolio section -->
    <div id="portfolio" class="section-box">
      <div class="section-sm bg-dark border-radius-1">
        <div class="container">
          <div class="row">
            <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
              <span class="title-heading text-white-04">Portfolio</span>
              <h1 class="display-3 fw-medium">Recent <span class="text-gradient">Works</span></h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation</p>
              <!-- Slider Nav -->
              <div class="mt-4">
                <div class="swiper-portfolio-prev button-circle cursor-link">
                  <i class="bi bi-arrow-left"></i>
                  <i class="bi bi-arrow-left"></i>
                </div>
                <div class="swiper-portfolio-next button-circle cursor-link">
                  <i class="bi bi-arrow-right"></i>
                  <i class="bi bi-arrow-right"></i>
                </div>
              </div>
              <!-- end Slider Nav -->
            </div>
          </div><!-- end row -->
          <div class="swiper portfolio-slider mt-4 mt-lg-5">
            <div class="swiper-wrapper">
              <!-- Slider Item 1 -->
              <div class="swiper-slide">
                <div class="portfolio-box">
                  <!-- Image -->
                  <div class="portfolio-img">
                    <a href="#">
                      <img src="assets/images/portfolio-img.jpg" alt="">
                    </a>
                  </div>
                  <div class="pt-4">
                    <!-- Categories -->
                    <ul class="list-inline-dot sm-heading text-white mb-2">
                      <li>
                        <a class="link-hover" href="#">
                          <span data-text="Category">Category</span>
                        </a>
                      </li>
                      <li>
                        <a class="link-hover" href="#">
                          <span data-text="Category">Category</span>
                        </a>
                      </li>
                      <li>
                        <a class="link-hover" href="#">
                          <span data-text="Category">Category</span>
                        </a>
                      </li>
                    </ul>
                    <!-- Caption -->
                    <h2>
                      <a class="portfolio-caption" href="#">
                        <i class="bi bi-arrow-right"></i>
                        Project Title Here
                      </a>
                    </h2>
                  </div>
                </div><!-- end portfolio-box -->
              </div>
              <!-- Slider Item 2 -->
              <div class="swiper-slide">
                <div class="portfolio-box">
                  <!-- Image -->
                  <div class="portfolio-img">
                    <a href="#">
                      <img src="assets/images/portfolio-img.jpg" alt="">
                    </a>
                  </div>
                  <div class="pt-4">
                    <!-- Categories -->
                    <ul class="list-inline-dot sm-heading text-white mb-2">
                      <li>
                        <a class="link-hover" href="#">
                          <span data-text="Category">Category</span>
                        </a>
                      </li>
                      <li>
                        <a class="link-hover" href="#">
                          <span data-text="Category">Category</span>
                        </a>
                      </li>
                      <li>
                        <a class="link-hover" href="#">
                          <span data-text="Category">Category</span>
                        </a>
                      </li>
                    </ul>
                    <!-- Caption -->
                    <h2>
                      <a class="portfolio-caption" href="#">
                        <i class="bi bi-arrow-right"></i>
                        Project Title Here
                      </a>
                    </h2>
                  </div>
                </div><!-- end portfolio-box -->
              </div>
              <!-- Slider Item 3 -->
              <div class="swiper-slide">
                <div class="portfolio-box">
                  <!-- Image -->
                  <div class="portfolio-img">
                    <a href="#">
                      <img src="assets/images/portfolio-img.jpg" alt="">
                    </a>
                  </div>
                  <div class="pt-4">
                    <!-- Categories -->
                    <ul class="list-inline-dot sm-heading text-white mb-2">
                      <li>
                        <a class="link-hover" href="#">
                          <span data-text="Category">Category</span>
                        </a>
                      </li>
                      <li>
                        <a class="link-hover" href="#">
                          <span data-text="Category">Category</span>
                        </a>
                      </li>
                      <li>
                        <a class="link-hover" href="#">
                          <span data-text="Category">Category</span>
                        </a>
                      </li>
                    </ul>
                    <!-- Caption -->
                    <h2>
                      <a class="portfolio-caption" href="#">
                        <i class="bi bi-arrow-right"></i>
                        Project Title Here
                      </a>
                    </h2>
                  </div>
                </div><!-- end portfolio-box -->
              </div>
              <!-- end Slider Item 3 -->
            </div><!-- end swiper-wrapper -->
          </div><!-- end portfolio-slider -->
        </div><!-- end container -->
      </div>
    </div>
    <!-- end Portfolio section -->

    <!-- Awards section -->
    <div id="awards" class="section pb-0">
      <div class="container">
        <div class="row g-4 g-xl-5">
          <div class="col-12 col-xl-4">
            <span class="title-heading text-white-04">Achievements</span>
            <h1 class="display-3 fw-medium mb-0">Awa<span class="text-gradient">rds</span></h1>
          </div>
          <div class="col-12 col-xl-8">
            <div class="row g-4">
              <!-- Award box 1 -->
              <div class="col-12 col-md-6">
                <div class="fancy-box">
                  <h4>Award Title</h4>
                  <h6 class="sm-heading text-white-04 mb-2">2023</h6>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore</p>
                </div>
              </div>
              <!-- Award box 2 -->
              <div class="col-12 col-md-6">
                <div class="fancy-box">
                  <h4>Award Title</h4>
                  <h6 class="sm-heading text-white-04 mb-2">2023</h6>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et</p>
                </div>
              </div>
              <!-- Award box 3 -->
              <div class="col-12 col-md-6">
                <div class="fancy-box">
                  <h4>Award Title</h4>
                  <h6 class="sm-heading text-white-04 mb-2">2023</h6>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore</p>
                </div>
              </div>
              <!-- Award box 4 -->
              <div class="col-12 col-md-6">
                <div class="fancy-box">
                  <h4>Award Title</h4>
                  <h6 class="sm-heading text-white-04 mb-2">2023</h6>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore</p>
                </div>
              </div>
              <!-- end Award box 4 -->
            </div><!-- end row(inner) -->
          </div>
        </div><!-- end row -->
      </div><!-- end container -->
    </div>
    <!-- end Awards section -->

    <!-- Testimonial section -->
    <div id="testimonial" class="section">
      <div class="container">
        <div class="swiper testimonial-slider">
          <div class="swiper-wrapper">
            <!-- Slider item 1 -->
            <div class="swiper-slide">
              <div class="testimonial-box">
                <div class="testimonial-avatar">
                  <img src="assets/images/testimonial-avatar.jpg" alt="">
                </div>
                <div class="testimonial-content">
                  <div class="mb-3">
                    <h3>Alexander Warren</h3>
                    <span class="sm-heading text-white">CTO - Company</span>
                  </div>
                  <p class="fs-4 fw-normal fst-italic line-height-140">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
                </div>
              </div>
            </div>
            <!-- Slider item 2 -->
            <div class="swiper-slide">
              <div class="testimonial-box">
                <div class="testimonial-avatar">
                  <img src="assets/images/testimonial-avatar.jpg" alt="">
                </div>
                <div class="testimonial-content">
                  <div class="mb-3">
                    <h3>Alexander Warren</h3>
                    <span class="sm-heading text-white">CTO - Company</span>
                  </div>
                  <p class="fs-4 fw-normal fst-italic line-height-140">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
                </div>
              </div>
            </div>
            <!-- Slider item 3 -->
            <div class="swiper-slide">
              <div class="testimonial-box">
                <div class="testimonial-avatar">
                  <img src="assets/images/testimonial-avatar.jpg" alt="">
                </div>
                <div class="testimonial-content">
                  <div class="mb-3">
                    <h3>Alexander Warren</h3>
                    <span class="sm-heading text-white">CTO - Company</span>
                  </div>
                  <p class="fs-4 fw-normal fst-italic line-height-140">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
                </div>
              </div>
            </div>
          </div>
          <!-- Slider Pagination Progress -->
          <div class="swiper-testimonial-pagination"></div>
          <!-- end Slider Pagination Progress -->
        </div>
      </div><!-- end container -->
    </div>
    <!-- end Testimonial section -->

    <!-- Blog section -->
    <div id="blog" class="section-box">
      <div class="section-sm bg-dark border-radius-1">
        <div class="container">
          <div class="row">
            <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
              <span class="title-heading text-white-04">Journal</span>
              <h1 class="display-3 fw-medium">Blog <span class="text-gradient">Posts</span></h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation</p>
              <!-- Slider Nav -->
              <div class="mt-4">
                <div class="swiper-blog-prev button-circle cursor-link">
                  <i class="bi bi-arrow-left"></i>
                  <i class="bi bi-arrow-left"></i>
                </div>
                <div class="swiper-blog-next button-circle cursor-link">
                  <i class="bi bi-arrow-right"></i>
                  <i class="bi bi-arrow-right"></i>
                </div>
              </div>
              <!-- end Slider Nav -->
            </div>
          </div><!-- end row -->
          <div class="swiper blog-slider mt-4 mt-lg-5">
            <div class="swiper-wrapper">
              <!-- Slide Item 1 -->
              <div class="swiper-slide">
                <div class="blog-post-box">
                  <div class="blog-post-img">
                    <!-- Image -->
                    <a class="blog-post-img-link" href="#">
                      <img src="assets/images/blog-img.jpg" alt="">
                    </a>
                    <!-- Category -->
                    <div class="blog-post-category">
                      <a href="#">
                        <span data-text="Category">Category</span>
                      </a>
                    </div>
                  </div>
                  <div class="mt-4">
                    <ul class="list-inline-dot sm-heading text-white mb-2">
                      <li>
                        <a class="link-hover" href="#">
                          <span data-text="by Admin">by Admin</span>
                        </a>
                      </li>
                      <li>
                        <a class="link-hover" href="#">
                          <span data-text="Oct 8">Oct 8</span>
                        </a>
                      </li>
                    </ul>
                    <h2 class="mb-0">
                      <a class="blog-caption" href="#">
                        <i class="bi bi-arrow-right"></i>
                        Blog Post Title
                      </a>
                    </h2>
                  </div>
                </div>
              </div>
              <!-- Slide Item 2 -->
              <div class="swiper-slide">
                <div class="blog-post-box">
                  <div class="blog-post-img">
                    <!-- Image -->
                    <a class="blog-post-img-link" href="#">
                      <img src="assets/images/blog-img.jpg" alt="">
                    </a>
                    <!-- Category -->
                    <div class="blog-post-category">
                      <a href="#">
                        <span data-text="Category">Category</span>
                      </a>
                    </div>
                  </div>
                  <div class="mt-4">
                    <ul class="list-inline-dot sm-heading text-white mb-2">
                      <li>
                        <a class="link-hover" href="#">
                          <span data-text="by Admin">by Admin</span>
                        </a>
                      </li>
                      <li>
                        <a class="link-hover" href="#">
                          <span data-text="Oct 8">Oct 8</span>
                        </a>
                      </li>
                    </ul>
                    <h2 class="mb-0">
                      <a class="blog-caption" href="#">
                        <i class="bi bi-arrow-right"></i>
                        Blog Post Title
                      </a>
                    </h2>
                  </div>
                </div>
              </div>
              <!-- Slide Item 3 -->
              <div class="swiper-slide">
                <div class="blog-post-box">
                  <div class="blog-post-img">
                    <!-- Image -->
                    <a class="blog-post-img-link" href="#">
                      <img src="assets/images/blog-img.jpg" alt="">
                    </a>
                    <!-- Category -->
                    <div class="blog-post-category">
                      <a href="#">
                        <span data-text="Category">Category</span>
                      </a>
                    </div>
                  </div>
                  <div class="mt-4">
                    <ul class="list-inline-dot sm-heading text-white mb-2">
                      <li>
                        <a class="link-hover" href="#">
                          <span data-text="by Admin">by Admin</span>
                        </a>
                      </li>
                      <li>
                        <a class="link-hover" href="#">
                          <span data-text="Oct 8">Oct 8</span>
                        </a>
                      </li>
                    </ul>
                    <h2 class="mb-0">
                      <a class="blog-caption" href="#">
                        <i class="bi bi-arrow-right"></i>
                        Blog Post Title
                      </a>
                    </h2>
                  </div>
                </div>
              </div>
            </div><!-- end swiper-wrapper -->
          </div><!-- end blog-slider -->
        </div><!-- end container -->
      </div>
    </div>
    <!-- end Blog section -->

    <!-- Contact section -->
    <div id="contact" class="section pb-0">
      <div class="container">
        <div class="row g-4 g-xl-5">
          <div class="col-12 col-xl-4">
            <span class="title-heading text-white-04">Contact</span>
            <h1 class="display-3 fw-medium mb-0">Let's <span class="text-gradient">Talk</span></h1>
          </div>
          <div class="col-12 col-xl-8">
            <div class="row g-4 g-lg-5">
              <div class="col-12 col-md-6">
                <h6 class="sm-heading">Email:</h6>
                <h3 class="mb-0">contact&#64;flatheme.net</h3>
              </div>
              <div class="col-12 col-md-6">
                <h6 class="sm-heading">Call:</h6>
                <h3 class="mb-0">+123 456 7890</h3>
              </div>
            </div><!-- end row(inner) -->
            <!-- Contact Form -->
            <div class="contact-form mt-4 mt-lg-5 text-xl-end">
              <form method="post" id="contactform">
                <div class="row gx-3 gy-0">
                  <div class="col-12 col-md-6">
                    <input type="text" id="name" name="name" placeholder="Name" required>
                  </div>
                  <div class="col-12 col-md-6">
                    <input type="email" id="email" name="email" placeholder="E-Mail" required>
                  </div>
                </div>
                <input type="text" id="subject" name="subject" placeholder="Subject" required>
                <textarea name="message" id="message" placeholder="Message"></textarea>
                <button class="button button-dot" type="submit">
                  <span data-text="Send Message">Send Message</span>
                </button>
              </form>
              <!-- Submit result -->
              <div class="submit-result">
                <span id="success">Thank you! Your Message has been sent.</span>
                <span id="error">Something went wrong, Please try again!</span>
              </div>
            </div><!-- end contact-form -->
          </div>
        </div><!-- end row -->
        <!-- Google Maps -->
        <div id="map1" class="gmap gmap-md border-radius-1 mt-5" data-latitude="51.513569" data-longitude="-0.123443"></div>
        <!-- end Google Maps -->
      </div><!-- end container -->
    </div>
    <!-- end Contact section -->

  </main>

  <!-- Footer -->
  <div class="py-4 py-lg-5 text-center">
    <p>&copy; 2023 FlaTheme, All Rights Reserved.</p>
  </div>
  <!-- end Footer -->

  <!-- Scroll To Top -->
  <div class="scrolltotop">
    <a class="button-circle" href="#">
      <i class="bi bi-arrow-up"></i>
      <i class="bi bi-arrow-up"></i>
    </a>
  </div>

</div>