<div id="blog" class="section-box">
    <div class="section-sm bg-dark border-radius-1">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
            <h1 class="display-3 fw-medium">Who <span class="text-gradient">we are?</span></h1>
            <p> Luminah is an AI company revolutionizing how energy companies innovate by harnessing artificial intelligence, knowledge integration, and innovation methods. Our platform transforms complex organizational data into actionable insights, enabling breakthrough solutions that drive efficiency and sustainability. The name Luminah reflects our mission to illuminate the path to innovation in the energy sector.</p>
            <br>
            <h1 class="display-3 fw-medium">Our <span class="text-gradient">Vision</span></h1>
            <p>To become the global standard for AI-driven innovation
                systems, illuminating the path to sustainable energy solutions.</p>
            <br>
            <h1 class="display-3 fw-medium">Our <span class="text-gradient">Mission</span></h1>
            <p>To empower energy companies to innovate faster and
                more effectively by transforming their collective
                knowledge into actionable insights through our integrated
                AI-powered platform.</p>
          </div>
        </div><!-- end row -->
      </div><!-- end container -->
    </div>
  </div>