.knowledge-graph-container {
    // max-width: 1200px;
  margin: 4rem;
  padding: 6rem 3rem;
  background: #000000; /* Dark background */
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(157, 88, 88, 0.1),
              0 0 15px 4px rgba(138, 43, 226, 0.4); /* Purple glowing contour */
  text-align: center;
  color: #f8f9fa; 
margin-bottom: 100px;
    .section-title {
      
      
      margin-bottom: 2rem;
      h2{
        color: #f8f9fa;
        font-size: 4rem;
        font-weight: bold;
        text-align: center;
        margin-bottom: 20px;
      }
      p{
        color: #f8f9fa;
    }
  
    }
  
    .content-wrapper {
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
  
      .left-content {
        flex: 1;
        min-width: 300px;
  
        .features-list {
          list-style: none;
          padding: 0;
  
          li {
            font-size: 1.2rem;
            color: #d2d2d2;
            margin-bottom: 1rem;
            position: relative;
            padding-left: 1.5rem;
            font-weight: 1000;
  
            &::before {
              content: none;
              color: #007bff;
              font-weight: bold;
              font-size: 1.5rem;
              position: absolute;
              left: 0;
              top: 0.2rem;
            }
          }
        }
      }
  
      .right-content {
        flex: 1;
        min-width: 300px;
  
        p {
          font-size: 1.1rem;
          line-height: 1.8;
          color: #6c757d;
  
          .brand-name {
            font-weight: bold;
            color: #007bff;
          }
        }
      }
    }
  }
  
@media screen and (max-width: 768px) {
    .knowledge-graph-container {
      padding: 2rem;
  
      .section-title {
        h2 {
          font-size: 2rem;
        }
      }
  
      .content-wrapper {
        flex-direction: column;
        align-items: center;
  
        .left-content,
        .right-content {
          min-width: 100%;
        }
      }
    }
    
}