<div id="services" class="section">
    <div class="container">
      <div class="row g-4 g-xl-5">
        <div class="col-12 col-xl-4">
          <span class="title-heading text-white-04">Services</span>
          <h1 class="display-3 fw-medium mb-0">Artificial <span class="text-gradient">Intelligence</span></h1>
          <p>
            Accelerated Innovation - Systematic, data-driven approach enables organizations to move quickly from problem identification to ideation of innovative solutions.
          </p>
        </div>
        <div class="col-12 col-xl-8">
          <div class="row g-4">
            <!-- Service box 1 -->
            <div class="col-12">
              <div class="service-box">
                <div class="service-order">
                  <h3>01/</h3>
                </div>
                <div class="service-title">
                    <i class="bi bi-app-indicator"></i>
                  <h3>AI-powered insight extraction</h3>
                </div>
 
              </div>
            </div>
            <!-- Service box 2 -->
            <div class="col-12">
              <div class="service-box">
                <div class="service-order">
                  <h3>02/</h3>
                </div>
                <div class="service-title">
                 <i class="bi bi-geo"></i>
                  <h3>Real-time mapping of emerging
                    trends and technologies</h3>
                </div>
              </div>
            </div>
            <!-- Service box 3 -->
            <div class="col-12">
              <div class="service-box">
                <div class="service-order">
                  <h3>03/</h3>
                </div>
                <div class="service-title">
                  <i class="bi bi-laptop"></i>
                  <h3>Visual innovation landscapes</h3>
                </div>
              </div>
            </div>
            <div class="col-12">
                <div class="service-box">
                  <div class="service-order">
                    <h3>04/</h3>
                  </div>
                  <div class="service-title">
                    <i class="bi bi-diagram-2-fill"></i>
                    <h3>Predictive innovation patterns</h3>
                  </div>
                </div>
              </div>
            <!-- end Service box 3 -->
          </div><!-- end row(inner) -->
        </div>
      </div><!-- end row -->
    </div><!-- end container -->
  </div>